<!DOCTYPE html>
<html>
  <head>
    <title>Target Cookies Intro</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <table style="width: 100%" border="1">
      <tr>
        <td>
          <a href="/muggle_add">Add</a>
        </td>

        <td>
          <a href="/muggle_subtract">Subtract</a>
        </td>

        <td>
          <a href="/muggle_multiply">Multiply</a>
        </td>

        <td>
          <a href="/muggle_divide">Divide</a>
        </td>

        <td>
          <a href="/muggle_translate">Translate</a>
        </td>
      </tr>
    </table>

    <%= yield %>
  </body>
</html>
